# ========================
# Java / Maven
# ========================
target/
*.log
*.class
*.jar
*.war

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# ========================
# IDE Files
# ========================
.idea/
*.iml

.vscode/

# Eclipse
.project
.classpath
.settings/

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db

# ========================
# Environment Files
# ========================
.env
*.env

# ========================
# Logs
# ========================
logs/
*.log

# ========================
# Docker
# ========================
docker-compose.override.yml

# ========================
# Kubernetes
# ========================
*.kubeconfig

# ========================
# Build Output
# ========================
build/

# ========================
# Node (if frontend later)
# ========================
node_modules/

# ========================
# IntelliJ Specific
# ========================
out/

# ========================
# Secrets / Credentials
# ========================
application-secret.yml
application-prod.yml

# ========================
# Prometheus / Grafana temp
# ========================
*.db